<div class="container-lg">

  <h1 class=" title text-center">
    Monitor de Procesos
  </h1>
  
  <table class="table table-bordered" height="100px">
    <thead class="thead-light">
      <tr>
        <th class="text-center">Ejecutados</th>
        <th class="text-center">Suspendidos</th>
        <th class="text-center">Detenidos</th>
        <th class="text-center">Zombies</th>
        <th class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">{{ this.ejecutados }}</td>
        <td class="text-center">{{ this.suspendidos }}</td>
        <td class="text-center">{{ this.detenidos }}</td>
        <td class="text-center">{{ this.zombies }}</td>
        <td class="text-center">
          <strong>{{ this.total }}</strong>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex mt-3">
    <ejs-treegrid height="318" width="100%" [dataSource]="data_procesos" [treeColumnIndex]="1" childMapping="hijos"
      [allowPaging]="true" [pageSettings]="pageSettings" [allowFiltering]='true' [toolbar]='toolbarOptions'
      [allowSorting]='true'>
      <e-columns>
        <e-column field="pid" headerText="PID" textAlign="Left" width="40"></e-column>
        <e-column field="nombre" headerText="Nombre" textAlign="Left" width="60"></e-column>
        <e-column field="user" headerText="Usuario" textAlign="Left" width="60"></e-column>
        <e-column field="estado" headerText="Estado" textAlign="Left" width="60"></e-column>
        <e-column field="ram" headerText="Memoria Virtual" textAlign="Left" width="60"></e-column>
        <e-column headerText="Matar Proceso" width="50" textAlign="Center">
          <ng-template #template let-data>
            <div>
              <button class="btn-kill">
                <span class="btn-kill-icon" (click)="matar_proceso(data.pid)">
                  <i class="fas fa-skull-crossbones" aria-hidden="true" id="i_pos"></i>
                </span>
              </button>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-treegrid>
  </div>

</div>